{
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": false,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^react$",
        "^[^.]",
        "^\\."
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}